<%- include("header") -%>

  <div class="box" id="heading">
    <h1><%= monthlyTotalsTitle %> Expenses</h1>
  </div>

  <div class="box">
    <form class="item new-item" action="/" method="post">
      <input class="listItem" type="text" name="newItem" placeholder="New Item" autocomplete="off" required>
      <input class="listItem" type="text" name="itemType" placeholder="Category" list="Category" autocomplete="off" required>
      <datalist id="Category">
        <% knownCategories.forEach(function(item) { %>
          <option><%=  item._id.type  %></option>
        <% }) %>
      </datalist>
      <input type="number" name="itemCost" placeholder="Cost" autocomplete="off" min="0.01" step="0.01" required>
      <div class="dates">
        <div class="input-group mb-4">
          <input class="form-control start_date listItem" type="text" name="purchaseDate" placeholder="Date" autocomplete="off" id="startdate_datepicker" required>
        </div>
      </div>
      <script>
        $("#startdate_datepicker").datepicker({
          orientation: "bottom"
        });
      </script>
      <button class="budget-summary" type="submit" name="list" value="<%= listTitle %>">+</button>
    </form>

    <div class="item item-header">
      <p class="item item-col-header">Item</p>
      <p class="item item-col-header">Category</p>
      <p class="item item-col-header">Cost</p>
      <p class="item item-col-header">Purchase Date</p>
    </div>

    <% newListItems.forEach(function(item) { %>
      <form class="" action="/delete" method="post">
        <div class="item">
          <input type="checkbox" onChange="this.form.submit()" name="checkbox" value="<%= item._id %>">
          <p class="item"><%=  item.name  %></p>
          <p class="item"><%=  item.type  %></p>
          <p class="item"><%=  "$" + item.cost  %></p>
          <p class="item"><%=  item.month + ' - ' + item.day + ' - ' + item.year  %></p>
        </div>
        <input type="hidden" name="listName" value="<%= listTitle %>">
      </form>
    <% }) %>
  </div>

  <div class="box" id="heading">
    <h1> <%= monthlyTotalsTitle %> Breakdown </h1>
  </div>

  <div class="box">
    <div class="item item-header">
      <p class="item item-col-header">Category</p>
      <p class="item item-col-header">Purchases</p>
      <p class="item item-col-header">Total Cost</p>
    </div>
    <% groupedTotals.forEach(function(item) { %>
      <form class="" action="/delete" method="post">
        <div class="item item-header">
          <p class="item"><%=  item._id.type  %></p>
          <p class="item"><%=  item.count  %></p>
          <p class="item"><%=  "$" + item.cost  %></p>
        </div>
        <input type="hidden" name="listName" value="<%= listTitle %>">
      </form>
    <% }) %>
    <% monthlyTotals.forEach(function(item) { %>
      <form class="" action="/delete" method="post">
        <div class="item item-header">
          <p class="item item-col-header">TOTAL</p>
          <p class="item"><%=  item.count  %></p>
          <p class="item"><%=  "$" + item.cost  %></p>
        </div>
        <input type="hidden" name="listName" value="<%= listTitle %>">
      </form>
    <% }) %>
  </div>

  <div class="box" id="heading">
    <h1> <%= monthlyTotalsTitle %> Spending Chart </h1>
  </div>

  <div class="box">
    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
  </div>

  <script type="text/javascript">
  window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer",
    {
      axisY:{
        prefix: "$"
      },
      data: [{
        type: "line",
        dataPoints: []
      }]
    });
    <% monthlyRunningTotals.forEach(function(item) { %>
        chart.options.data[0].dataPoints.push({x: new Date(<%=  item.year  %>, <%=  item.month  %>, <%=  item.day  %>), y: <%=  item.cost  %>})
    <% }) %>
    chart.render();
  }
  </script>
  <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<%- include("footer") -%>
